body {
    overflow: hidden;
}
#viewport-body {
    background-color: #3892d3
}

@font-face {
    font-family: 'Pictos';
    src: url('../pictos/pictos.eot');
    src: url('../pictos/pictos.eot?#iefix') format('embedded-opentype'),
        url('../pictos/pictos.woff') format('woff'),
        url('../pictos/pictos.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#demo-ct .x-table-layout-cell {
    padding: 20px;
}

.x-spotlight {
    background-color: #3892d3;

    z-index: 8999;
    position: absolute;
    top: 0;
    left: 0;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
    width: 0;
    height: 0;
    zoom: 1;
    font-size: 0;
}